# No data files
data/*
!data/data.placeholder

# No secrets
secrets/*
!secrets/secrets.placeholder

# No RStudio IDE files
.Rproj.user/*
.Rhistory

# Nothing from the db folders
db/*
!db/db.placeholder
db/mesa_test_db.db-journal
