# No data files
data/*
data_aux
!data/data.placeholder

# No secrets
secrets/*
!secrets/secrets.placeholder

# No RStudio IDE files
.Rproj.user/*
.Rhistory
.Rproj.user

# No lock files
~$*

R/scratch
dark_readme.css
